<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
        <div>
            <ol type="I" start="1">
                <li><a href="{% url 'index' %}" target="_blank">Главная</a></li>
            </ol>
        </div>
        <div>
            <ol type="I" start="1">
                <li><a href="{% url 'about' %}" target="_blank">О нас</a></li>
            </ol>
        </div>
    
    <div style="border: 1px solid;">
        {% if is_aut %}
            <p>{{ list.0 }}</p>
            <p>{{ dict.first }}</p>
            <p>{{ content }}</p>
        {% endif %}
       <p>{{ bool }}</p>
    </div>
</body>
</html>