<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Главаня страница</h1>
    <ol>
        <li><a href="{% url 'index' %}" target="_blank">Главная</a></li>
        <li><a href="{% url 'about' %}" target="_blank">О нас</a></li>
        <li></li>
    </ol>
    </li>
    <h2>{{ title }}</h2>
    <div>
        {% if is_aut %}
            <p>{{ list.0 }}</p>
            <p>{{ dict.first }}</p>
        {% endif %}

       <p>{{ content }}</p>
       <p>{{ list.1 }}</p>
       <p>{{ dict.first }}</p>
       <p>{{ bool }}</p>
    </div>
</body>
</html>